<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.PackageMapper">

	<insert id="insertPackage" parameterType="tws.entity.Package">
		insert into
		`packages`(`number`,`user`,`telephone`,`weight`,`state`,`dateTime`)
		values(#{packages.number},#{packages.user},#{packages.telephone},#{packages.weight},#{packages.state},#{packages.dateTime});
	</insert>

	<select id="selectPackages" resultType="tws.entity.Package">
		select * from packages
	</select>
	
	  <update id="updatePackage">
        update `packages` set `state` = #{packages.state} where `number` = #{packages.number}
    </update>
	
</mapper>
